* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 40%;
  height: 100%;
}
.nav-btn-box {
  position: fixed;
  bottom: 2rem;
  z-index: 99999;
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-btn {
  display: flex;
  text-align: center;

  border-radius: 2rem;
  background-color: beige;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav-icon i {
  padding: 0;
  width: 4rem;
  font-size: 2rem;
}
.nav-icon:hover,
.nav-btn .home:hover {
  border-radius: 10rem;
  transition: 0.5s;
  background-color: rgb(183, 183, 183);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav-btn .home {
  z-index: 9;
  border-radius: 2rem;
  background-color: beige;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
